QtTrader2/iExchange.Trader.pro.user
QtTrader2/HistoricalChart/GeneratedFiles
QtTrader2/HistoricalChart/Debug
QtTrader2/HistoricalChart/Release
QtTrader2/HistoricalChart/Unix
QtTrader2/HistoricalChart/Unix_Debug
QtTrader2/HistoricalChart/IOS
QtTrader2/HistoricalChart/HistoricalChart.vcxproj.user
QtTrader2/HistoricalChart/HistoricalChart.vcxproj.filters
QtTrader2/QtFramework/GeneratedFiles
QtTrader2/QtFramework/Debug
QtTrader2/QtFramework/Release
QtTrader2/QtFramework/Unix
QtTrader2/QtFramework/Unix_Debug
QtTrader2/QtFramework/Win32
QtTrader2/QtFramework/QtFramework.vcxproj.user
QtTrader2/QtFramework/QtFramework.vcxproj.filters
QtTrader2/TA-SDK/Debug
QtTrader2/TA-SDK/Release
QtTrader2/TA-SDK/Win32
QtTrader2/TA-SDK/Unix
QtTrader2/TA-SDK/Unix_Debug
QtTrader2/TA-SDK/TA-SDK.vcxproj.user
QtTrader2/TA-SDK/TA-SDK.vcxproj.filters
QtTrader2/TraderBusiness/Debug
QtTrader2/TraderBusiness/Release
QtTrader2/TraderBusiness/GeneratedFiles
QtTrader2/TraderBusiness/Unix
QtTrader2/TraderBusiness/Unix_Debug
QtTrader2/TraderBusiness/IOS
QtTrader2/TraderBusiness/TraderBusiness.pro.user
QtTrader2/TraderBusiness/TraderBusiness.vcxproj.user
QtTrader2/TraderBusiness/TraderBusiness.vcxproj.filters
QtTrader2/QDecimal/Win32
QtTrader2/QDecimal/Unix
QtTrader2/QDecimal/Unix_Debug
QtTrader2/QDecimal/qdecimal.vcxproj.user
QtTrader2/QDecimal/qdecimal.vcxproj.filters
QtTrader2/QtCustomWidget/Win32
QtTrader2/QtCustomWidget/Unix
QtTrader2/QtCustomWidget/Unix_Debug
QtTrader2/QtMobile/GeneratedFiles
QtTrader2/QtMobile/Debug
QtTrader2/QtMobile/Release
QtTrader2/QtMobile/Unix
QtTrader2/QtMobile/Unix_Debug
QtTrader2/QtMobile/QtMobile.pro.user
QtTrader2/QtMobile/android/gradle.properties
QtTrader2/QtMobile/android/gradle.properties~
QtTrader2/QtMobile/android/local.properties
QtTrader2/QtMobile/android/local.properties~
QtTrader2/Unix